div {
    background: rgb(76, 175, 80);
    padding: 10px;
}

div.first {
    background: rgba(255, 175, 180, 0.1);
}

div.second {
    background: rgba(255, 175, 180, 0.3);
}

div.third {
    background: rgba(255, 175, 180, 0.6);
}